*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    /*webkit-backdrop-filter: blur(50px);*/
    padding-right: 15px;
    padding-left: 15px;
}
    

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image img{
    width: auto;
    height: 70px;
    margin-left: 40px;
    margin-top: 10px;
}

.navdiv .searchbar{
    position: relative;
    left: 60px;
}

.searchbar input{
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 10px 5px;
    width: 300px;
    padding-left: 30px;
    }

.searchbar input::placeholder{
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.searchbar i{
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    color: white; 
    font-size: 15px; 
}

nav ul li{
    list-style: none;
    display: inline-block;
    }

nav ul li a{
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 17px;
    text-decoration: none;
    margin-right: 30px;
}

.btn{
   /*background-color: #83a6ce;*/
   color: white;
   border-radius: 15px;
   padding: 10px;
   margin-left: 10px;
   border: 2px solid rgba(255, 255, 255, .2);
   font-size: 15px;
}

#btn1{
    background: none;
}

#btn2{
    background: none;
}

#login-link{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #000;
}

#btn1:hover{
    background-color: #000;
}

#btn2:hover{
    text-decoration: underline;
}


body{
    background-image: linear-gradient(to left,#ffc2c2, #ff5450);
    /*min-height: 84vh;*/
    min-height: 110vh;
    position: relative;
    overflow-x: hidden;   
}

.divsec{
    color: white;
    display: flex;
    position: relative;
}

.boxtext{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

#text1{
    font-size: 110px;
    line-height: 0.9;
    font-family: "League Spartan", sans-serif;
    position: absolute;
    top: 250px;
    left: 100px;  
}

#text2{
    font-family: "Sanchez", serif; 
    font-size: 30px; 
    position: absolute;
    top: 550px;
    left: 100px;  
}

/*.container{
    padding: 2rem;
}*/

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    top: 245px;
    left: 600px;
}

/*.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}*/

.slider{
    display: flex;
    aspect-ratio: 4 / 4;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    width: auto;
    height: 300px;
}

.slider::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}



.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    /*object-fit: cover;*/
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 18%;
    transform: translateX(-18%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #26415E;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
    background-color: aliceblue;
}

.order-link{
    display: flex;
    position: absolute;
    top: 102%;
    left: 13.4%;
   
}

.order-link a{
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px;
}

.order-link a:hover{
    background: black;
}


/*#banner{
    position:absolute;
    width:auto;
    height: 440px;
    top: 200px;
    left: 1000px;
}*/

/*footer{
    background-color:#C48CB3;
    width: 100%;
    bottom: 0;
    color: white;
}*/

footer {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

#label{
    font-size: 18px;
}

.links{
    color: white;
    font-size: 20px;
    margin-right: 20px; 
}

.links:hover{
    color:#0D1E4C
}
