body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-table {
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    color: white;
}

thead th {
    padding: 10px 15px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f9;
}

tbody td {
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: black;
    color: white;
    margin-right: 5px;
}

.edit-btn:hover {
    background-color: rgba(255, 255, 255, .2);
    color: black;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
}
